.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
pgdata/
include/setup_connections.py
dags/setup_connections_dag.py
README.md
